@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/ubuntu/v13/4iCv6KVjbNBYlgoC1CzjsGyN.woff2) format('woff2');
}

html {
  font-size: 16px;
  box-sizing: border-box;

  @include medium { font-size: 15px; }
  @include small { font-size: 14px; }
}

*,
*:after,
*:before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

::selection {
  background: $azulEscuro;
  color: #fff;
}

a {
  text-decoration: none;
}

.center {
  position: relative;
  width: $base-width;
  margin: 0 auto;

  @include medium {
    width: 90%;
  }
}
