.citacao {
  background: $azulEscuro;
  padding: rem(65) 0;
  color: #fff;

  p {
    max-width: rem(700);
    margin: 0 auto;
    @include opensans(16);
    text-align: center;

    + p { margin-top: 1em; }
    strong { font-style: italic; }
  }

  @include small { padding: rem(40) 0; }
}
