section.galeria {
  background: $verdeEscuro;
  padding: rem(75) 0;

  @include small() {
    padding: rem(50) 0;
  }

  h3 {
    color: #fff;
    text-align: center;
    @include opensans(24);
    margin: 0 0 1.5em;
  }

  .galeria-imagens {
    font-size: 0;
    text-align: center;

    a {
      display: inline-block;
      margin-right: 10px;
      margin-bottom: 10px;

      img { display: block; }
    }
  }
}
