.integrantes {
  h4 {
    @include ubuntu(22, italic);
    color: $azulEscuro;
    text-align: center;
    margin: 0 0 rem(30);
  }

  h5 {
    border-top: 1px solid $verdeClaro;
    @include opensans(22, bold);
    color: $azulEscuro;
    padding-top: 1em;
    margin-bottom: 1em;
    margin-top: .5em;
    text-align: center;
  }

  &__lista {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__integrante {
    flex: 0 0 rem(230);
    margin-bottom: rem(50);

    & + & { margin-left: 10px; }
    &:nth-child(5n+1) { margin-left: 0; }

    @include medium {
      & + & { margin-left: 10px !important; }
    }

    @include small {
      flex: 0 1 48%;
      & + & { margin-left: 0px !important; }
      &:nth-child(2n) { margin-left: 10px !important; }
      margin-bottom: rem(35);

      img { align-self: center; width: 100%; }
    }

    img {
      display: block;
      max-width: 100%;
      margin: 0 auto rem(8);
    }

    span {
      display: block;
      text-align: center;
      color: $azulEscuro;
      transition: color .3s;

      &.nome { @include opensans(16); }
      &.cargo { @include opensans(12, normal, italic); }
      &.cidade { @include opensans(12, bold); }
    }

    &:hover span { color: $verde; }
  }
}
