.integrantes-destaque {
  padding: rem(64) 0;

  h4 {
    @include opensans(22, normal, italic);
    color: $azulEscuro;
    margin: 0 0 rem(45);
    text-align: center;
  }

  &__lista {
    display: flex;
    flex-wrap: wrap;
  }

  &__integrante {
    flex: 1 1 19%;
    margin-right: 5px;
    margin-bottom: 5px;
    background: $verdeClaro;
    transition: background .3s;

    &:nth-child(5n) { margin-right: 0; }

    .imagem {
      position: relative;

      img {
        display: block;
        width: 100%;
      }

      .info {
        position: absolute;
        bottom: rem(-12);
        left: 0;
      }
    }

    .cidade {
      span {
        @include opensans(13, bold);
        color: #fff;
        background: $azulEscuro;
        padding: 0 rem(12);
      }
    }

    .cargo {
      span {
        @include opensans(16, normal, italic);
        background: $azul;
        color: $azulEscuro;
        padding: 0 rem(12);
      }
    }

    .nome {
      background: $verdeClaro;
      padding: rem(20) rem(12) rem(12);
      color: $verdeEscuro;
      @include opensans(20);
      transition: background .3s, color .3s;
    }

    &:hover {
      background: $azulEscuro;

      .nome {
        background: $azulEscuro;
        color: #fff;
      }
    }
  }

  @include below(1040px) {
    &__lista {
      justify-content: center;
    }

    &__integrante {
      flex: 0 1 32%;

      &:nth-child(5n) { margin-right: 5px; }
      &:nth-child(3n) { margin-right: 0; }
    }
  }

  @include small {
    padding: rem(45) 0;

    &__integrante {
      flex: 0 1 49%;

      &:nth-child(3n) { margin-right: 5px; }
      &:nth-child(2n) { margin-right: 0; }

      .cidade { margin-bottom: -1px; }
    }
  }
}
