.pilares {
  margin-bottom: rem(75);

  h3 {
    @include ubuntu(48, italic);
    color: $verdeClaro;
    text-align: center;
    margin: 0 0 rem(20);
  }

  &__lista {
    display: flex;
  }

  &__pilar {
    flex: 1 0 33.333%;
    padding: rem(30) rem(30) rem(50);
    color: #fff;

    &:nth-child(1) { background: $azul; }
    &:nth-child(2) { background: $verde; }
    &:nth-child(3) { background: $verdeClaro; }

    h4 {
      @include opensans(22, bold, italic);
      margin: 0 0 rem(32);
    }

    p {
      @include opensans(16);
      margin: 0;

      + p { margin-top: rem(20); }
    }
  }

  @include medium {
    h3 { font-size: rem(32); }
  }

  @include small {
    margin-bottom: rem(40);
    h3 { font-size: rem(24); }

    &__lista { flex-direction: column; }
    &__pilar { padding: rem(25); }
  }
}
