.presidente-vice {
  background: $cinzaBg;
  padding: rem(40) 0 rem(115);

  &__pessoa {
    display: flex;
    color: $azulEscuro;
    transition: color .3s;

    &:hover { color: $verde; }

    & + & { margin-top: rem(65); }

    img {
      flex: 0 0 rem(300);
      margin-right: rem(30);
    }

    div { flex: 1; }

    h4 {
      @include opensans(22, normal, italic);
      margin: .5em 0 0;
    }

    h5 {
      @include opensans(16, bold, italic);
      margin: 0 0 1em;
    }

    h6 {
      @include opensans(16, bold);
      margin: rem(2) 0;
      max-width: rem(830);
    }

    ul {
      padding: 0;
      margin: 0;

      li {
        list-style-type: none;
        position: relative;
        padding-left: 1em;
        @include opensans(16);

        &:before {
          content: '\2022';
          position: absolute;
          left: 0;
        }
      }
    }
  }

  @include small {
    padding: rem(40) 0;

    &__pessoa {
      display: block;

      & + & { margin-top: rem(40); }

      img { max-width: 100%; margin: 0; }
    }
  }
}
