.videos {
  background: $azulEscuro;
  padding: rem(35) 0;
  margin-bottom: rem(-35);

  .center {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .video {
    width: calc(50% - (#{rem(35)} / 2));
    margin-bottom: rem(35);

    @include small {
      width: 100%;
    }

    p {
      @include opensans(18);
      color: #fff;
      margin: .5em 0 0;
      font-style: italic;
    }
  }

  .video-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}
