.curriculo {
  width: 100%;
  max-width: rem(600);
  padding: rem(45);

  h1 {
    @include opensans(24, bold);
    color: $azulEscuro;
    margin-bottom: 1em;
  }

  h2 {
    @include opensans(16);
    color: $verdeClaro;
  }

  p {
    @include opensans(17);
    color: #555;
    line-height: 1.5;
    margin: 1em 0;

    &:last-child { margin-bottom: 0; }
  }
}
