.footer {
  background: $azulClaro;
  border-bottom: rem(10) solid $verdeEscuro;

  .center {
    padding: rem(90) 0 rem(60);
  }

  &__vote {
    display: block;
    max-width: 100%;
    margin: 0 auto rem(85);
  }

  &__informacoes {
    display: flex;
    justify-content: center;
    align-items: center;

    .marca {
      border-right: 1px solid #fff;
      margin-right: rem(52);
      padding-top: rem(10);
      padding-bottom: rem(10);
      padding-right: rem(52);

      img {
        width: 100%;
      }
    }

    p {
      margin: 0 0 rem(16);
      max-width: rem(115);
      @include opensans(14, bold);
      line-height: 1.5;
      color: #fff;
    }
  }

  &__social {
    font-size: 0;
  }

  &__social-icon {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform .3s;

    &--facebook { background-image: url('../img/ico-facebook-rodape.png'); }
    &--instagram { background-image: url('../img/ico-instagram-rodape.png'); }

    &:hover { transform: translateY(-4px); }

    & + & { margin-left: 5px; }
  }

  @include small {
    .center { padding: rem(35) 0; }

    &__vote { margin-bottom: rem(40); }

    &__informacoes {
      flex-direction: column;
      justify-content: flex-start;

      .marca {
        max-width: 100%;
        border-right: 0;
        border-bottom: 1px solid #fff;
        padding: 0 rem(20) rem(20);
        margin: 0 0 rem(20);
      }

      p {
        max-width: 100%;
        text-align: center;
      }
    }

    &__social { text-align: center; }
  }
}
