.header {
  background: url('../img/bg-losangos.png') no-repeat center top;

  @include medium { background-size: 2200px auto; }
  @include small { background-size: 1000px auto; }

  &__social {
    text-align: right;
    font-size: 0;
    padding: rem(15) 0 rem(20);
  }

  &__social-icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform .3s;

    &--facebook { background-image: url('../img/ico-facebook.png'); }
    &--instagram { background-image: url('../img/ico-instagram.png'); }

    &:hover { transform: translateY(-3px); }

    & + & { margin-left: 5px; }
  }

  &__logo,
  &__vote {
    display: block;
    text-indent: -9999px;
    max-width: rem(750);
    margin: 0 auto;
  }

  &__logo {
    max-width: rem(700);
    height: 184px;
    background: url('../img/marca-movimentouniaopaulista.png') no-repeat left center;
  }

  &__vote {
    height: 124px;
    background: url('../img/vote-sbu.png') no-repeat right center;
  }

  &__pessoas {
    max-width: rem(700);
    margin: rem(34) auto 0;
    @include clearfix;
  }

  &__pessoa {
    float: left;
    & + & { margin-left: rem(40); }
    color: $azulEscuro;
    transition: color .3s;

    &:hover { color: $verde; }

    img {
      display: block;
      max-width: 100%;
      margin-bottom: rem(8);
    }

    p {
      @include opensans(18, normal, italic);
      line-height: 1;
      margin: 0;

      + p { margin-top: rem(4); }
      small { @include opensans(16, bold, italic); }
    }
  }

  &__frase {
    max-width: rem(940);
    margin: rem(110) auto;
    text-align: center;
    color: $verdeEscuro;

    h2 {
      @include ubuntu(36, italic);
      margin: 0;
    }

    p {
      @include ubuntu(18, italic);
      margin: 1em 0 0;
    }
  }

  @include small {
    &__social { margin-bottom: rem(30); }
    &__logo {
      height: 140px;
      background-size: auto 100%;
      background-position: center;
    }

    &__vote {
      height: 80px;
      background-size: auto 100%;
      background-position: center;
      margin-top: rem(30);
    }

    &__pessoa {
      display: block;
      float: none;
      width: 100%;
      text-align: center;

      img { margin: 0 auto rem(8); }

      & + & { margin: rem(40) 0 0; }
    }

    &__frase {
      margin: rem(60) 0;

      h2 { font-size: rem(24); }
      p { font-size: rem(16); }
    }
  }
}
