@function normalize-breakpoint($value) {
  @if type-of($value) == 'string' {
    @return map-get($breakpoints, $value);
  } @else {
    @return $value;
  }
}

@mixin above($breakpoint) {
  @media (min-width: normalize-breakpoint($breakpoint)) {
    @content;
  }
}

@mixin below($breakpoint) {
  @media (max-width: (normalize-breakpoint($breakpoint) - 1)) {
    @content;
  }
}

@mixin between($lower-breakpoint, $upper-breakpoint) {
  @media (min-width: normalize-breakpoint($lower-breakpoint)) and (max-width: (normalize-breakpoint($upper-breakpoint) - 1)) {
    @content;
  }
}

@mixin medium() {
  @include below('medium') {
    @content;
  }
}

@mixin small() {
  @include below('small') {
    @content;
  }
}
