@mixin clearfix() {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin opensans($size, $weight: normal, $style: normal) {
  font-size: rem($size);
  font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
  font-weight: 400;
  font-style: $style;
  @if $weight == bold {
    font-weight: 700;
  }
}

@mixin ubuntu($size, $style: normal) {
  font-size: rem($size);
  font-family: 'Ubuntu', 'Helvetica', 'Arial', sans-serif;
  font-style: $style;
  font-weight: 300;
}
