$base-width: 1200px;

$breakpoints: (
  medium: 1280px,
  small: 768px
);

$azul:       #3B9BD5;
$azulClaro:  #3BCBD6;
$azulEscuro: #015B9D;

$verde:       #23AD45;
$verdeClaro:  #92C14D;
$verdeEscuro: #045738;

$cinzaBg: #F1F1F1;
